Data Import and then data analysis later finding solution for AGI

In [1]:
import pandas as pd

In [2]:
raw_recipes = pd.read_csv('RAW_recipes.csv')
raw_interaction = pd.read_csv('RAW_interactions.csv')
recipes = pd.read_csv('recipes.csv')

In [9]:
print('RAW_recipes.csv')
print(raw_recipes.shape)
print(raw_recipes.columns, end='\n\n')
print('RAW_interactions.csv')
print(raw_interaction.shape)
print(raw_interaction.columns, end='\n\n')
print('recipes.csv')
print(recipes.shape)
print(recipes.columns, end='\n\n')

RAW_recipes.csv
(231637, 12)
Index(['name', 'id', 'minutes', 'contributor_id', 'submitted', 'tags',
       'nutrition', 'n_steps', 'steps', 'description', 'ingredients',
       'n_ingredients'],
      dtype='object')

RAW_interactions.csv
(1132367, 5)
Index(['user_id', 'recipe_id', 'date', 'rating', 'review'], dtype='object')

recipes.csv
(228, 60)
Index(['Title', 'Directions', 'Quantity', 'Unit01', 'Ingredient01',
       'Quantity02', 'Unit02', 'Ingredient02', 'Quantity03', 'Unit03',
       'Ingredient03', 'Quantity04', 'Unit04', 'Ingredient04', 'Quantity05',
       'Unit05', 'Ingredient05', 'Quantity06', 'Unit06', 'Ingredient06',
       'Quantity07', 'Unit07', 'Ingredient07', 'Quantity08', 'Unit08',
       'Ingredient08', 'Quantity09', 'Unit09', 'Ingredient09', 'Quantity10',
       'Unit10', 'Ingredient10', 'Quantity11', 'Unit11', 'Ingredient11',
       'Quantity12', 'Unit12', 'Ingredient12', 'Quantity13', 'Unit13',
       'Ingredient13', 'Quantity14', 'Unit14', 'Ingredient14', 'Quantity15',
       'Unit15', 'Ingredient15', 'Quantity16', 'Unit16', 'Ingredient16',
       'Quantity17', 'Unit17', 'Ingredient17', 'Quantity18', 'Unit18',
       'Ingredient18', 'Quantity19', 'Unit19', 'Ingredient19', 'Category'],
      dtype='object')

In [15]:
raw_recipes.head(2)

,name,id,minutes,contributor_id,submitted,tags,nutrition,n_steps,steps,description,ingredients,n_ingredients
0,arriba baked winter squash mexican style,137739,55,47892,2005-09-16,"['60-minutes-or-less', 'time-to-make', 'course...","[51.5, 0.0, 13.0, 0.0, 2.0, 0.0, 4.0]",11,"['make a choice and proceed with recipe', 'dep...",autumn is my favorite time of year to cook! th...,"['winter squash', 'mexican seasoning', 'mixed ...",7
1,a bit different breakfast pizza,31490,30,26278,2002-06-17,"['30-minutes-or-less', 'time-to-make', 'course...","[173.4, 18.0, 0.0, 17.0, 22.0, 35.0, 1.0]",9,"['preheat oven to 425 degrees f', 'press dough...",this recipe calls for the crust to be prebaked...,"['prepared pizza crust', 'sausage patty', 'egg...",6

In [14]:
raw_interaction.head()

,user_id,recipe_id,date,rating,review
0,38094,40893,2003-02-17,4,Great with a salad. Cooked on top of stove for...
1,1293707,40893,2011-12-21,5,"So simple, so delicious! Great for chilly fall..."
2,8937,44394,2002-12-01,4,This worked very well and is EASY. I used not...
3,126440,85009,2010-02-27,5,I made the Mexican topping and took it to bunk...
4,57222,85009,2011-10-01,5,"Made the cheddar bacon topping, adding a sprin..."

In [12]:
recipes.head(2)

,Title,Directions,Quantity,Unit01,Ingredient01,Quantity02,Unit02,Ingredient02,Quantity03,Unit03,...,Quantity17,Unit17,Ingredient17,Quantity18,Unit18,Ingredient18,Quantity19,Unit19,Ingredient19,Category
0,Banana Cake,Bake in three layer pans at 350 degrees.,2-Jan,cup,shortening,1 1/2,cups,sugar,2,eggs,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cakes
1,Blueberry Coffee Cake,"Mix butter, 1 cup sugar, flour, 2 eggs, 2 tsp ...",12,ounces,cream cheese,1 1/2,cups,sugar,3,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cakes

In [19]:
raw_interaction.sort_values(by=['rating','user_id'],ascending=False)

,user_id,recipe_id,date,rating,review
982325,2002372706,63786,2018-12-20,5,Finally I found a no nonsense fajita recipe
617619,2002371843,516662,2018-12-19,5,This cake is incredible tasting and easy to ma...
480595,2002371755,393600,2018-12-19,5,Healthiest and tastiest by far. I do a few twe...
799711,2002371712,144174,2018-12-19,5,"Was really yummy, everyone loved it. I altered..."
685032,2002371445,2886,2018-12-19,5,I've been using this recipe for 2 years and it...
...,...,...,...,...,...
267319,1535,22049,2006-05-02,0,I just made this and it was a total flop. It o...
632595,1535,15423,2005-11-09,0,This recipe totally flopped for me. After 5 mi...
819249,1535,46285,2012-03-08,0,I can't rate the taste yet since I sent it to ...
888344,1535,35986,2005-10-04,0,I baked it for 50 minutes but it wasn't enough...
1129271,1535,104707,2004-11-24,0,I've never used the bacon but can confirm that...